body{
    overflow-x: hidden;
}
.information {
    width: 90%;
    text-align: center;
    background-color: #70a4f2;
    padding: 1%;
    border-radius: 5px;
    line-height: 300%;
    margin:auto;
    border-style:double;
    border-color:white ;
}

.bold {
    color:black;
}

.big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width:90%;
    height: 4%;
    background-color:  #70a4f2;
    padding: 1%;
    border-radius: 5px;
    border-style:double;
    border-color:white ;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    
    
}

.small-container {
    width:fit-content;
    height:100%;
}

.photos {
    height: 500px;
    width: 480px;
    object-fit: cover;
}

.in-line {
    width:30%;
    height:100%
}

.head {
    padding: 1%;
    text-align: center;
    background-color: #70a4f2;
    border-radius: 5px;
    width:45%;
    margin:auto;
    border-style:double;
    border-color:white ;
}

























/*.photos {
    width: 25%;
    height: 30%;
    background-color: #70a4f2;
    padding: 1%;
    border-radius: 5px;
    
}




.image-container {
    width:100%;
    display: inline-block;
    padding: 1%;
    border-radius: 5px;
}


.information {
    width: 100%;
    text-align: center;
    background-color: #70a4f2;
    padding: 1%;
    border-radius: 5px;
    line-height: 300%;
}

.bold {
    color:black;
    font-weight:100;
    font-family: montserrat, sans-serif;
}

.block-list {
    display: grid;
    gap: 1rem;
}

.block-item {
    display: flex;
    background: white;
    border: 1px dotted #a4a4a4;
    padding: 1rem;
    border-radius: 8px;
    align-items: center;
    display: inline-block;
}


 block Info 
.block-info {
    flex: 1 1 100%;
}



 image Container 
.image-container {
    flex: 1 1 100%;
    position: relative;
    padding-top: 56.25%;  16:9 aspect ratio 
    box-shadow: 0 2px 4px rgb(0, 0, 0);
}


.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%; 
    border: none;
} 




Responsive Design 
@media (min-width: 550px) {

    .block-item {
        flex-wrap: nowrap;
    }

    .image-container {
        flex: 1 1 40%;
        max-width: 40%;
        padding-top: calc(40% * 0.5625);  Dynamically maintain 16:9 ratio 
    }
    .block-info {
        flex: 1 1 60%;
    }
}*/

@media (min-width: 700px) {  /* was 850*/
    .block-list {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1280px) {
    .block-list {
        grid-template-columns: repeat(3, 1fr);
    .image-container {
        padding-top: calc(40% * 0.5625); /* Ensure consistent ratio on large screens */
    }
}
}


