/* Style Body */
body {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

/* Section styling */
section {
    background-color:rgb(255, 255, 255) ;  
    margin: 40px;        
    border: 10px rgb(190, 190, 190) ;
    /* border-style: solid;   */
    border-radius: 8px;
    border: 1px dotted #a4a4a4;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    padding: 30px 30px 30px 30px;    
    width: auto;     
}

/* Centre Title of Text box */
h2 {
    text-align: center;
}

/* Position of Lucases portrait */
.LucasSnow {
    float: left;
    margin: 0px 15px 30px 30px;
    width: 20%;
    max-height: 180px;
    max-width: 180px;
}

/* Center Images */
.Images{
    text-align: center;
}

/* size and position of images */
.Mountain1, .Mountain2, .Mountain3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%; 
    max-height: 150px;
    width: 100%;
    max-width: 200px;
}

/* Position of Images */
figure {
    display: inline-block;
    margin: 20px; 
    
}

/* resposive design, iamges adapt to screen size */
@media (min-width: 700px) {
    .figure {
        display: list-item;
    }
}

figure img {
    vertical-align: top;
}

/* Position (center) of Captions */
figure figcaption {
    text-align: center;
}

