/* Header */
header {
  background-image: url(BannerMountain1.jpg) ;   
  color: rgb(0, 0, 0);             
  text-align: center ;     
  background-repeat: repeat-x;
  background-size: contain; 
}

/* Navigation Links */
nav a {
    color: whitesmoke; /* Colour */
    margin: 0 10px; /* spacing between links */
}

/* hover effect */
nav a:hover { 
    color: rgb(112, 190, 216) ;  /*color when the link is hovered */
}

/* Style Body */
body {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

/* Section styling */
section {
  background-color:rgb(255, 255, 255) ;  
  margin: 40px;        
  border: 10px rgb(190, 190, 190) ;
  border-style: solid;  
  padding: 10px 10px 50px 10px;         
}

/* Centre Title of Text box */
h2 {
    text-align: center;
}

/* Position of Lucases portrait */
.LucasSnow {
    float: left;
    margin: 0px 15px 15px 15px;
    height: 40%;
    width: 20%;
}

/* Center Images */
.Images{
    display: flex;
    justify-content:center;

}

/* size and position of images */
.Mountain1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px; 
    width: 200px;
    margin-right: 40px;
    margin-left: 40px;
}

/* Position of Images */
figure {
    display: inline-block;
    margin: 20px; 
}

figure img {
    vertical-align: top;
}

/* Position of Captions */
figure figcaption {
    display: flex;
    text-align: center;
    margin-left: 25%;

}

/* Footer */
footer {
  background-color: rgb(168, 168, 168);   
  text-align: center;     
  color: rgb(0, 0, 0);
  margin: 40px; 
}